body {
    font-family: Arial;
}

header {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid black;
}
.fa-truck {
    font-size: 40px;
    transform:rotateY(180deg);
}

.fa-user-secret {
    font-size: 80px;
    color: brown;
}

#playerFunds {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

#playerFunds i {
    text-align: center;
}

#player {
    width: 100px;
}

#playerFunds label {
    margin-right: 10px;
    text-align: center;
}

.ribbon {
    display: flex;
    height: 50px;
    background-image: url('../images/track.png');
}

.truck {
    align-self: center;
}

.truckNumber {
    transform:rotateY(180deg) !important;
    position: absolute;
    font-weight: bold;
    font-family: Arial;
    top: 10px;
    right: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 18px;
}

.playerBet {
    transform:rotateY(180deg) !important;
    position: absolute;
    font-weight: bold;
    font-family: Arial;
    top: 10px;
    left: 50px;
    color: #000000;
    display: inline-block;
    font-size: 14px;
}

.winner {
    animation : winner 0.5s  linear 0.5s infinite alternate;
}

#winningCongrats, #gameIsOver {
    padding-bottom: 10px;
}

.mt-info {
    margin: 0 auto;
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.initTrack {
    margin-left: -40px !important;
    animation: shake 0.82s  ease-in-out 0.1s infinite alternate;
}


@keyframes winner {
    20% {
        transform: translate(0, 1px) rotateY(180deg);
    }

    40% {
        transform: translate(0, 5px) rotateY(180deg);
    }

    60% {
        transform: translate(0, 9px) rotateY(180deg);
    }
    80% {
        transform: translate(0, 5px) rotateY(180deg);
    }
    100% {
        transform: translate(0, 1px) rotateY(180deg)
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate(0, 1px) rotateY(180deg);
    }

    20%, 80% {
        transform: translate(0, 2px) rotateY(180deg);
    }

    30%, 50%, 70% {
        transform: translate(0, 1px) rotateY(180deg);
    }

    40%, 60% {
        transform: translate(0, 2px) rotateY(180deg);
    }
}

.mt-container{
    top: 50%;
    left: 50%;
    margin: auto;
    position: absolute;
    width: 80%;
    transform: translate(-50%, -50%);
}

.ribbons {
    position: relative;
    width: 80%;
    padding: 0 50px 0 0;
    min-width: 500px;
    margin: 0 auto;
    background: url('../images/racing-stripes.jpg') repeat-y 100% 0;
}

#setupFormContainer {
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    border: 1px solid black;
}

#setupFormContainer form {
    margin-top: 20px;
}

#setupFormContainer header {
    font-size: 20px;
    padding: 2px 5px 10px;
}

.has-error .form-control,
.has-error .form-control:focus,
.has-error .help-block,
.has-error .control-label {
    color: red;
    border-color: red;
}

.buttons {
    margin: 20px 0;
    text-align: center;
}

.buttons button:last-child {
    margin-left: 20px;
}

.capitalizeWord {
    text-transform:capitalize;
}

.mt-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(82, 82, 82, 0.4);
}

.mt-modal-content {
    position: absolute;
    background-color: #FFFFFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: auto;
    margin: auto;
    padding: 0;
    border-radius: 5px;
    border: 5px solid rgba(28, 28, 28, 0.72);
}

.mt-modal-content > header {
    padding: 5px 5px 10px;
    margin: 0;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid black;
}

.mt-modal-content .buttons {
    border-top: 1px solid black;
    margin: 20px 0 10px;
    padding-top: 10px;
    text-align: center;
}

.mt-error {
    color: red;
    text-align: center;
    margin: 0 auto;
}

.truckers {
   padding-top: 15px;
}

.truckers label {
    padding-left: 100px !important;
    text-align: left !important;
}

.truckers label::after, #form-funds label::after {
    content: '$';
    display: inline-block;
    position: absolute;
    right: -10px;
}

.input-dollars:before {
    content:"$";
    position: absolute;
    top: 0;
    padding: 0 5px;
    z-index: 1;
}

footer {
    width: 100%;
    height: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 0px;
    padding-right: 0px;
}
footer .box {
    margin: 0 auto;
}
footer .box p {
    height: 15px;
    font-size: 0.8em;
    padding: 5px 0;
    border-top: 1px solid #000000;
}